<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#"><img src="../assets/gg-logo.png" /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a
          class="nav-link"
          [ngClass]="{ active: index == 0 }"
          (click)="index = 0"
          routerLink="/home"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          >Home
        </a>
      </li>
      <li class="nav-item active">
        <a
          class="nav-link"
          [ngClass]="{ active: index == 1 }"
          (click)="index = 1"
          routerLink="/packages"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          >Packages
        </a>
      </li>
      <li class="nav-item active">
        <a
          class="nav-link"
          [ngClass]="{ active: index == 2 }"
          (click)="index = 2"
          routerLink="/contactus"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          >Contact Us
        </a>
      </li>
      <li class="nav-item active" *ngIf="auth.isLogin && auth.adminData">
        <a
          class="nav-link"
          [ngClass]="{ active: index == 3 }"
          (click)="index = 3"
          routerLink="/notifications"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          >Notifications
        </a>
      </li>
      <li class="nav-item active" *ngIf="auth.isLogin && auth.adminData">
        <a
          class="nav-link"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          (click)="auth.logout()"
          >Logout
        </a>
      </li>
      <li class="nav-item active" *ngIf="!auth.isLogin">
        <a
          class="nav-link"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          (click)="openDialogLogin()"
          >Admin Login
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>
