<section>
  <div class="container">
    <div class="containerinfo">
      <div>
        <h2>Contact Info</h2>
        <ul class="info">
          <li>
            <span><img src="https://cdn.iconscout.com/icon/free/png-256/location-2551463-2134020.png" /></span>
            <span>Greater Gurgaon Enterprises<br />
              Ward no-18 peer colony near rajeev gandhi<br />
              park Sohna , Gurgaon</span>
          </li>
          <li>
            <span><img src="https://icons.iconarchive.com/icons/icons8/windows-8/256/Mobile-Phone-icon.png" /></span>
            <span>+91 8930761152 , +91 9992044529 </span>
          </li>
          <li>
            <span><img src="https://www.shareicon.net/data/256x256/2015/12/01/680886_email_512x512.png" /></span>
            <span>graetergurgaon5@gmail.com</span>
          </li>
        </ul>

      </div>
    </div>
    <div class="contactform">
      <h2>Send a Message</h2>
      <div class="formbox">
        <div class="inputBox w50">
          <input type="text" name="" required />
          <span>First Name</span>
        </div>
        <div class="inputBox w50">
          <input type="text" name="" required />
          <span>Last Name</span>
        </div>
        <div class="inputBox w50">
          <input type="text" name="" required />
          <span>Email Address</span>
        </div>
        <div class="inputBox w50">
          <input type="text" name="" required />
          <span>Mobile No</span>
        </div>
        <div class="inputBox w100">
          <textarea name="" required></textarea>
          <span>Write your message here..</span>
        </div>
        <div class="inputBox w50">
          <button class="button">
            Send
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
